.example-card {
  max-width: 400px;
  flex-direction: row;
}

.mat-card-image {
  
  height: 300px;
  object-fit: cover;

}

.content {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
}
