.example-card {
  max-width: 400px;
  
}

.mat-card-image {
  
  height: 300px;
  object-fit: cover;

}

.mat-card-title{
  font-size: medium;

}

.mat-card-content {
  font-size: small;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;

}

.content {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: stretch;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
}
